body {
    background-color: rgb(39, 37, 28);
    color: #e2c532;
}

a {
    color: #00ffbb;
}

a:hover {
    color: #ffffff;
}

div.release-container {
    border: 1px solid lightgray;
}

pre.changelog {
    color: lime;
}
